body {
    background: #e9e9e9;
  }

#widget__socials {
    display: flex;
    flex-direction: row-reverse;
    width: max-content;
    position: relative;
  }
  
.wrapper {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }

.circle {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #e73427;
    margin: auto;
    transform: scale(1, 1);
}

.circle.pulse {
    animation-timing-function: ease;
    animation: pulse 2s infinite;
    background-color: #c9534b;
    opacity: .8;
}
  
.circle svg {
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;
    color:#fff;
    width: 60%;
    height: 60%;
    margin: 13px 9px 0px 14px;
}
.circle svg:hover {
    cursor: pointer;
    fill: #e3e3e3;
    transform: scale(1.2, 1.2);
}
.social__buttons {
    height: 65px;
    position: absolute;
    right: -166px;
    width: 245px;
    display: none;
    opacity: 0;
    transition: right 2s linear;
}

.social__buttons_horizontal {
    display: flex;
    height: 55px;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 10px;
}

.social_btn {
    width: 55px;
    height: 55px;
    background-size: 80%;
    position: relative;
    z-index: 5;
    cursor: pointer;
    border-radius: 45px;
    visibility: visible;
    opacity: 1;
    margin: 0 7px;
}

.social_btn.telegram {
    background-color: #2ca8dd;
}

.social_btn.viber {
    background-color: #665cac;
}

.social_btn.facebook {
    background: linear-gradient(to right, rgba(0,171,255,1) 0%, rgba(0,106,255,1) 100%);
}

.social_btn.telegram svg {
    margin: 10px 7px;;
}

.social_btn.viber svg,
.social_btn.facebook svg {
    margin: 11px 10px;
}



  
  @keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .main {
      padding: 500px;
  }